<% if flash[:notice] %>
  <div class="card-panel notice deep-orange"><%= flash[:notice] %></div>
<% end %>
<div class="row">
  <div class="col m12">
    <%= simple_form_for @url do |f| %>
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col m8 offset-m2 center-align">
              <span class="card-title">Create a new short URL</span>
            </div>
          </div>
          <div class="row">
            <div class="col m6 offset-m2">
              <%= f.input :original_url, class: 'validate form-control', placeholder: 'Your original URL here', label: false  %>
            </div>
            <%= f.button :submit %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: 'urls/table', locals: { urls: @urls }%>
